.header__lang-link {
  margin: 0px;
  color: #ffffff;
}

@media (max-width: 1280px) {
  .header__lang-link {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 28px;
  }
}

@media (max-width: 1024px) {
  .header__lang-link {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 28px;
  }
}

@media (max-width: 768px) {
  .header__lang-link {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 28px;
  }
}

@media (max-width: 425px) {
  .header__lang-link {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 20px;
  }
}