.header__logo {
  grid-column: 1;
  grid-row: 1;
}

@media (max-width: 1800px) {
  .header__logo {
    max-width: 176px;
  }
}
    
@media (max-width: 767px) {
  .header__logo {
    max-width: 142px;
  }
}