.place__text {
  display: grid;
  grid-gap: 26px 0px;
  grid-template-rows: min-content min-content;
  justify-content: left;
  align-content: flex-start;
}

@media (max-width: 1800px) { 
  .place__text {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) { 
  .place__text {
    grid-template-columns: calc(100% - 32px);
  }
}