.place__text {
  display: grid;
  justify-content: space-around;
  grid-gap: 26px 0px;
  grid-template-rows: min-content min-content;
  justify-content: left;
  align-content: flex-start;
}

@media (max-width: 1800px) { /* НОУТ */
  .place__text {
    grid-template-columns: 100%;
  }
}

@media (max-width: 1279px) { /* ПЛАНШЕТ */
  .place__text {
    grid-template-columns: 100%;
  }
}

@media (max-width: 1023px) { /* БИГ МОБИЛКА + ВЕРТ ПЛАНШЕТ */
  .place__text {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) { /* МОБИЛКИ */
  .place__text {
    grid-template-columns: calc(100% - 32px);
  }
}