.lead__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  text-align: center;
  color: #FFFFFF;
  margin: 0px;
  justify-self: center;
}

@media (max-width: 1800px) { 
  .lead__title {
    max-width: 720px;
    font-size: 6rem;
    line-height: 104%;
  }
}

@media (max-width: 1023px) { 
  .lead__title {
    max-width: 288px;
    font-size: 2.5rem;
    line-height: 110%;
  }
}