.intro__text {
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 163%;
    text-align: left;
    color: #FFFFFF;
    margin: 0px auto 0px auto;
    padding-top: 40px;
    
}