.cover__text {
  display: grid;
  grid-column: 1;
  grid-row: 1;
  z-index: 10;
  justify-self: center;
  align-self: center;
  justify-content: center;
  grid-template-columns: max-content;
  grid-template-rows: repeat(2, max-content);
  max-width: 100%;
}

@media (max-width: 1800px) { 
  .cover__text {
    grid-gap: 32px 0px;
  }
}

@media (max-width: 767px) { 
  .cover__text {
    grid-gap: 16px 0px;
  }
}