.links {
  display: grid;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

@media (min-width: 768px) { 
  .links {
    grid-template-columns: repeat(5, max-content);
    grid-template-rows: auto;
    grid-gap: 0px 18px;
    grid-column: 1;
    grid-row: 1;
  }
}

@media (max-width: 767px) { 
  .links {
    grid-template-columns: auto;
    grid-template-rows: repeat(5, auto);
    grid-gap: 32px 0px;
  }
}