.website {
  display: grid;
  grid-gap: 12px 0px;
}

@media (max-width: 1800px) { 
  .website {
    grid-template-columns: 100%;
    justify-content: left;
    align-content: flex-end;
  }
}

@media (max-width: 767px) { 
  .website {
    grid-template-columns: calc(100% - 32px);   /* исправить, на разрешении 320 не влезает в размеры*/
    justify-content: space-around;
  }
}