.lead__subtitle {
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
    margin: 0px;
    justify-self: center;
}

@media (min-width: 768px) { 
  .lead__subtitle {
    max-width: 640px;
    font-size: 1.875rem;
    line-height: 120%;
    padding-top: 32px;
  }
}

@media (max-width: 767px) { 
  .lead__subtitle {
    max-width: 288px;
    font-size: 1rem;
    line-height: 125%;
    padding-top: 16px;
  }
}