.cover__overlay {
  background: #2a2c2f;
  opacity: 1;

  background-image: url("../../../image/cover-trains.jpg");
  background-size: cover;
  background-position: center;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-decoration: none;
}

.cover__overlay:hover {
  opacity: 0.8;
}