.lead__caption {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 140%;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: left;
  margin: 0px;
  padding-top: 8px;
}

@media (max-width: 1280px) { /* НОУТ */
  .lead__caption {
    max-width: calc(100% - 296px);
  }
}

@media (max-width: 1024px) { /* ПЛАНШЕТ */
  .lead__caption {
    max-width: calc(100% - 96px);
  }
}

@media (max-width: 768px) { /* БИГ МОБИЛКА + ВЕРТ ПЛАНШЕТ */
  .lead__caption {
    max-width: 100%;
    padding-left: 24px;
  }
}

@media (max-width: 426px) { /* МОБИЛКИ */
  .lead__caption {
    max-width: 100%;
    padding-left: 16px;
  }
}