.lead__caption {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 140%;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: left;
  margin: 0px;
  padding-top: 8px;
}


@media (max-width: 1023px) { 
  .lead__caption {
    padding-left: 24px;
  }
}

@media (max-width: 767px) { 
  .lead__caption {
    padding-left: 16px;
  }
}