.cover__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  text-align: center;
  color: #FFFFFF;
  margin: 0px;
  justify-self: center;
  z-index: 10;
}

@media (max-width: 1900px) { /* НОУТ */
  .cover__title {
    max-width: 560px;
    font-size: 4.5rem;
    line-height: 106%;
  }
}

@media (max-width: 1279px) { /* ПЛАНШЕТ */
  .cover__title {
    max-width: 560px;
    font-size: 4.5rem;
    line-height: 106%;
  }
}

@media (max-width: 1023px) { /* БИГ МОБИЛКА + ВЕРТ ПЛАНШЕТ */
  .cover__title {
    max-width: 560px;
    font-size: 4.5rem;
    line-height: 106%;
  }
}

@media (max-width: 767px) { /* МОБИЛКИ */
  .cover__title {
    max-width: 288px;
    font-size: 2rem;
    line-height: 109%;
  }
}