.lead__plackart {
  margin: 0px;
  grid-row: 3;
  grid-column: 1;
  justify-self: center;
}

@media (min-width: 1280px) { 
  .lead__plackart {
    width: 100%;
  }
}

@media (max-width: 1279px) { 
  .lead__plackart {
    max-width: 100%;
  }
}