.intro__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  text-align: left;
  color: #FFFFFF;
  margin: 0px;
}

@media (max-width: 1800px) { /* НОУТ */
  .intro__title {
    font-size: 3.375rem;
    line-height: 107%;
    max-width: 690px;
  }
}

@media (max-width: 767px) { /* МОБИЛКИ */
  .intro__title {
    font-size: 2rem;
    line-height: 109%;
  }
}